/ServiceCollector.Fake/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/ServiceCollector.Abstractions/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/ServiceCollector.Abstractions/bin/Debug/net6.0/icon.png
/ServiceCollector.Abstractions/bin/Debug/netstandard2.1/icon.png
/ServiceCollector.Core/bin/Debug/net6.0/icon.png
/ServiceCollector.Fake/bin/Debug/net6.0/icon.png
/ServiceCollector.Abstractions/obj/Debug/netstandard2.1/ServiceCollector.Abstractions.AssemblyInfo.cs
/ServiceCollector.Abstractions/obj/Debug/netstandard2.1/ServiceCollector.Abstractions.AssemblyInfoInputs.cache
/ServiceCollector.Abstractions/obj/Debug/netstandard2.1/ServiceCollector.Abstractions.assets.cache
/ServiceCollector.Abstractions/obj/Debug/netstandard2.1/ServiceCollector.Abstractions.csproj.AssemblyReference.cache
/ServiceCollector.Abstractions/obj/Debug/netstandard2.1/ServiceCollector.Abstractions.csproj.CoreCompileInputs.cache
/ServiceCollector.Abstractions/obj/Debug/netstandard2.1/ServiceCollector.Abstractions.csproj.FileListAbsolute.txt
/ServiceCollector.Abstractions/bin/Debug/netstandard2.1/ServiceCollector.Abstractions.deps.json
/ServiceCollector.Abstractions/bin/Debug/netstandard2.1/ServiceCollector.Abstractions.dll
/ServiceCollector.Abstractions/obj/Debug/netstandard2.1/ServiceCollector.Abstractions.dll
/ServiceCollector.Fake/bin/Debug/net6.0/ServiceCollector.Abstractions.dll
/ServiceCollector.Abstractions/obj/Debug/netstandard2.1/ServiceCollector.Abstractions.GeneratedMSBuildEditorConfig.editorconfig
/ServiceCollector.Abstractions/bin/Debug/netstandard2.1/ServiceCollector.Abstractions.pdb
/ServiceCollector.Abstractions/obj/Debug/netstandard2.1/ServiceCollector.Abstractions.pdb
/ServiceCollector.Fake/bin/Debug/net6.0/ServiceCollector.Abstractions.pdb
/ServiceCollector.Fake/bin/Debug/ServiceCollector.Fake.2.0.0.nupkg
/ServiceCollector.Fake/bin/Release/ServiceCollector.Fake.2.0.0.nupkg
/ServiceCollector.Fake/obj/Debug/ServiceCollector.Fake.2.0.0.nuspec
/ServiceCollector.Fake/obj/Release/ServiceCollector.Fake.2.0.0.nuspec
/ServiceCollector.Fake/obj/Debug/net6.0/ServiceCollector.Fake.AssemblyInfo.cs
/ServiceCollector.Fake/obj/Debug/net6.0/ServiceCollector.Fake.AssemblyInfoInputs.cache
/ServiceCollector.Fake/obj/Debug/net6.0/ServiceCollector.Fake.assets.cache
/ServiceCollector.Fake/obj/Debug/net6.0/ServiceCollector.Fake.csproj.AssemblyReference.cache
/ServiceCollector.Fake/obj/Debug/net6.0/ServiceCollector.Fake.csproj.CopyComplete
/ServiceCollector.Fake/obj/Debug/net6.0/ServiceCollector.Fake.csproj.CoreCompileInputs.cache
/ServiceCollector.Fake/obj/Debug/net6.0/ServiceCollector.Fake.csproj.FileListAbsolute.txt
/ServiceCollector.Fake/bin/Debug/net6.0/ServiceCollector.Fake.deps.json
/ServiceCollector.Fake/bin/Debug/net6.0/ServiceCollector.Fake.dll
/ServiceCollector.Fake/obj/Debug/net6.0/ref/ServiceCollector.Fake.dll
/ServiceCollector.Fake/obj/Debug/net6.0/refint/ServiceCollector.Fake.dll
/ServiceCollector.Fake/obj/Debug/net6.0/ServiceCollector.Fake.dll
/ServiceCollector.Fake/obj/Debug/net6.0/ServiceCollector.Fake.GeneratedMSBuildEditorConfig.editorconfig
/ServiceCollector.Fake/bin/Debug/net6.0/ServiceCollector.Fake.pdb
/ServiceCollector.Fake/obj/Debug/net6.0/ServiceCollector.Fake.pdb
